html, body { 
	background-image: url("https://www.desktopbackground.org/download/1600x900/2011/08/08/246708_abstract-running-images-imgmob_2560x1600_h.jpg");
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map {
    width: 100%;
    /* 
     * 100% of view height (100vh), minus:
     *  -  Title bar: 56 pixels
     *  -  Space at bottom: 128 pixels (increase to make more space)
     */
    height: calc(100vh - 184px);
	margin:auto;
	border-bottom-left-radius:50px;
	border-top-right-radius:50px;
}


